body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientLoop 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Animação do gradiente */
@keyframes gradientLoop {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.quiz-container {
    background-color: rgba(255, 255, 255, 0.9); /* Transparente para o fundo */
    padding: 40px 20px; /* Espaçamento interno */
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%; /* Largura relativa à tela */
    max-width: 600px; /* Limite de largura */
    height: 70%; /* Altura relativa à tela */
    max-height: 800px; /* Limite de altura */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça uniformemente */
    text-align: center;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.5rem; /* Aumenta o tamanho da fonte do botão */
}

button:hover {
    background-color: #1a5526;
}

h1 {
    font-size: 2.5rem; /* Tamanho da fonte responsivo */
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.question h2 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}

label {
    display: block; /* Faz com que cada label ocupe toda a linha */
    font-size: 1.5rem; /* Aumenta o tamanho do texto das alternativas */
    margin: 50px 0; /* Espaçamento entre as alternativas */
    text-align: left; /* Alinha o texto das alternativas à esquerda */
}

input[type="radio"] {
    margin-right: 10px; /* Espaço entre o radio button e o texto */
    transform: scale(1.5); /* Aumenta o tamanho do radio button */
    vertical-align: middle; /* Centraliza o radio button verticalmente */
}
